<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png"
          alt="Image"
          onerror="this.src='/img/errorloading.png'"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= guild.name %> </strong> <small><%= guild.id %> </small>
          <ul>
            <% guild.features.forEach(feature => {%>
              <li><%= feature %> </li>
            <%})%> 
          </ul>
        </p>
      </div>
    </div>
  </article>
</div>
